body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.orange {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */
.header {
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  padding: 28px 0;
  text-transform: uppercase;
}

.header-logo-accent {
  font-style: italic;
}

.nav {
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-item {
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  display: block;
  padding: 30px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}
/* #endregion Header */

/* #region Hero */
.hero {
  background-color: #1e1823;
  border-radius: 30px;
  padding-top: 375px;
  padding-bottom: 46px;
  margin-bottom: 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btns {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  border: none;
  margin-right: 14px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-link-made {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-link-made:hover,
.hero-link-made:focus {
  border: 1px solid #fd9222;
  background-color: #fff;
}

.hero-link-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

.hero-link-made:hover,
.hero-link-made:focus,
.hero-link-down:hover,
.hero-link-down:focus {
  color: #fd9222;
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  background-color: #1e1823;
  padding: 50px 0;
  margin-bottom: 50px;
}

.benefits-list {
  display: flex;
  /* align-items: center; */
  gap: 70px;
}

.benefits-item {
  width: calc((100% - 140px) / 3);
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */

/* #region Ingredients */
.ingredients {
  padding: 50px 0;
}

.ingredients-title-box {
  width: 486px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 28px;
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
}

.ingredients-descr {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.ingredients-card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}

.ingredients-card-item {
  width: calc((100% - 57px) / 4);
  padding: 28px 32px;
}

.ingredients-card-item:nth-child(2n) {
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #fff;
  color: #111;
}

.ingredients-card-item:nth-child(4n + 1) {
  border: none;
  border-radius: 15px;
  background-color: #fd9222;
  color: #fff;
}

.ingredients-card-item:nth-child(4n + 3) {
  border: none;
  border-radius: 15px;
  background-color: #1e1823;
  color: #fff;
}

.ingredients-card-img {
  margin-bottom: 36px;
}

.ingredients-card-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
}

/* #endregion Ingredients */

/* #region Made */
.made {
  padding: 50px 0;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.made-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.made-descr-box {
  padding: 32px;
}

.made-img {
}

.made-subtitle {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  max-width: 350px;
}
.made-list {
}

.made-item {
}

.made-descr {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion Made */

/* #region Reviews */
.review {
  padding-top: 50px;
  padding-bottom: 100px;
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.review-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-bottom: 50px;
}

.review-item {
  width: calc((100% - 56px) / 3);
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  padding: 24px;
}

.review-img {
  margin-bottom: 18px;
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 24px;
}

.review-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: #fff;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

.review-btn:hover,
.review-btn:focus {
  color: #fff;
  background-color: #fd9222;
}
/* #endregion Reviews */

/* #region Footer */
.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}

.footer-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-descr {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-addr {
  font-style: normal;
}

.footer-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-contacts-list {
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-nav {
}

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
  padding-top: 24px;
}

.footer-nav-item {
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus,
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}
/* #endregion Footer */
