body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.orange {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */
.header {
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  padding: 28px 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-accent {
  font-style: italic;
}

.logo-icon {
  margin-left: 4px;
}

.nav {
  margin-left: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-item {
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  display: block;
  padding: 32px 0;
  transition: color 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

.soc-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-left: 90px;
}

.soc-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
}

.header-icon {
  stroke: #111;
  fill: transparent;
  transition: stroke 250ms ease-in-out;
}

.soc-media-link:hover .header-icon,
.soc-media-link:focus .header-icon {
  stroke: #fd9222;
}
/* #endregion Header */

/* #region Hero */
.hero {
  background-color: #1e1823;
  background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url(../images/hero-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 30px;
  padding-top: 375px;
  padding-bottom: 46px;
  margin-bottom: 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btns {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  border: none;
  margin-right: 14px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-link-made {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.hero-link-made:hover,
.hero-link-made:focus {
  border-color: #fd9222;
  background-color: #fff;
}

.hero-link-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
  transition: color 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-link-made:hover,
.hero-link-made:focus,
.hero-link-down:hover,
.hero-link-down:focus {
  color: #fd9222;
}

.hero-link-down-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  fill: #fd9222;
  margin-left: 14px;
  transition: background-color 250ms ease-in-out, fill 250ms ease-in-out;
}

.hero-link-down-ellipse:hover,
.hero-link-down-ellipse:focus {
  background-color: #fd9222;
  fill: #fff;
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  background-color: #1e1823;
  padding: 50px 0;
  margin-bottom: 50px;
}

.benefits-list {
  display: flex;
  /* align-items: center; */
  gap: 70px;
}

.benefits-item {
  width: calc((100% - 140px) / 3);
  position: relative;
}

.benefits-item:not(:last-child):after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 0px;
  height: 124px;
  display: block;
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
}

.benefits-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  fill: #fd9222;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */

/* #region Ingredients */
.ingredients {
  padding: 50px 0;
}

.ingredients-title-box {
  width: 486px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 28px;
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
}

.ingredients-descr {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.ingredients-card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}

.ingredients-card-item {
  width: calc((100% - 57px) / 4);
  padding: 28px 32px;
  position: relative;
  overflow: hidden;
}

.ingredients-card-item:hover .ingredients-overlay {
  transform: translateY(0);
}

.ingredients-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.ingredients-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}
.ingredients-overlay-name {
  display: inline-block;
  border-radius: 35px;
  padding: 6px 16px;
  background-color: #fd9222;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  margin-right: 6px;
  margin-bottom: 14px;
}

.ingredients-overlay-benefits {
  display: inline-block;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  margin-bottom: 14px;
}

.ingredients-overlay-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.ingredients-card-item:nth-child(2n) {
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #fff;
  color: #111;
}

.ingredients-card-item:nth-child(4n + 1) {
  border: none;
  border-radius: 15px;
  background-color: #fd9222;
  color: #fff;
}

.ingredients-card-item:nth-child(4n + 3) {
  border: none;
  border-radius: 15px;
  background-color: #1e1823;
  color: #fff;
}

.ingredients-card-img {
  margin-bottom: 36px;
}

.ingredients-card-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
}

/* #endregion Ingredients */

/* #region Made */
.made {
  padding: 50px 0;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.made-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.made-descr-box {
  padding: 32px;
  border-radius: 15px;
  background-color: #fff;
}

.made-img {
}

.made-subtitle {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  max-width: 350px;
}
.made-list {
}

.made-item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
}

.made-descr {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion Made */

/* #region Reviews */
.review {
  padding-top: 50px;
  padding-bottom: 100px;
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 91px;
}

.review-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-bottom: 50px;
}

.review-item {
  width: calc((100% - 56px) / 3);
  min-height: 200px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  padding: 24px;
  padding-top: 56px;
  position: relative;
}

.review-img {
  /* margin-bottom: 18px; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 24px;
}

.review-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: transparent;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.review-btn:hover,
.review-btn:focus {
  color: #fff;
  background-color: #fd9222;
}
/* #endregion Reviews */

/* #region Footer */
.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}

.footer-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-descr {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-addr {
  font-style: normal;
}

.footer-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-contacts-list {
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 250ms ease-in-out;
}

.footer-nav {
}

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
  padding-top: 24px;
}

.footer-nav-item {
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 250ms ease-in-out;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus,
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}
/* #endregion Footer */
